* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.productcard-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.productcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    margin: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.title{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.productcard-button {
    display: flex;
    justify-content: center;
}